.card-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    max-width: 1650px;
    margin: 20px auto 0 auto;
}

.left-card,
.mid-card,
.right-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border);
    /* box-shadow:
            0 0 6px rgba(74, 222, 128, 0.6),
            0 0 12px rgba(34, 211, 238, 0.4),
            0 0 18px rgba(168, 85, 247, 0.3); */
    border-radius: 10px;
    margin: 20px;
    padding: 24px;
}

.welcome-area {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1650px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.welcome-area p {
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .welcome-area {
        box-sizing: border-box;
        text-align: justify;
        padding-right: 20px;
    }

    .welcome-area p {
        max-width: 100%;
        margin: 0 auto;
    }

    .card-area {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .left-card,
    .right-card,
    .mid-card {
        width: 100%;
        box-sizing: border-box;
        text-align: justify;
        margin: 0;
        padding: 0 20px 0 0;
    }

    .left-card h3,
    .mid-card h3,
    .right-card h3 {
        margin-top: 4px;
    }
}
