.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.header-inner h1 {
  font-size: 32px;
  margin: 0;
}

.header-inner nav {
  justify-self: center;
}

.h1-welcome {
    color: #d4af37;
    text-shadow:
    0 0 8px rgba(74, 222, 128, 0.6),
    0 0 16px rgba(34, 211, 238, 0.4),
    0 0 24px rgba(168, 85, 247, 0.3);
}
